h1{
	border-width: 40px;
	font-size: 60px;
	text-align: center;
     color: black;
	border-radius: 30px;
}	

p{
	font-size: 50px;
}
body{
	background-color: grey;
}
ul{
	color: green;
}
.core{
	background-color: white;
	border-radius: 30px;
	padding-left: 50px;
	padding-top: 10px;
	font-size:30px;

}
.topnav {
  overflow: hidden;
  background-color: red;
  padding-left: 70px;
}

.topnav a {
  float: initial;
  color: white;
  text-align: center;
  padding: 30px 40px;
  text-decoration: none;
  font-size: 25px;
}
a:hover{
  background-color:green;
}

